name: Publish Packages

on:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write # <--- ВАЖНО: разрешить запись в репо
      packages: write
    env:
      COOLCINEMA_GH_PKG_TOKEN: ${{ secrets.COOLCINEMA_GH_PKG_TOKEN }}
    steps:
      # 1. Checkout (обязательно с токеном и ref!)
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.COOLCINEMA_GH_PKG_TOKEN }} # Используем ваш мощный токен
          ref: main # Явно указываем ветку, чтобы не быть в detached HEAD

      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://npm.pkg.github.com"
          scope: "@coolcinema"

      - run: pnpm install

      # Генерация кода реестра (важно перед билдом)
      - run: pnpm -r build

      # 2. Bump version
      - name: Bump Registry Version
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

          cd packages/registry
          npm version patch -m "chore(release): bump registry version to %s [skip ci]"

          # Возвращаемся в корень и проверяем статус
          cd ../..
          git status

      # 3. Publish
      - run: pnpm -r publish --no-git-checks

      # 4. Push (самое важное)
      - name: Push changes
        run: git push origin main
